tr{
	background-color: #00FFFF;
	border: 1px: border-style solid;
}
h1{
	text-align: center;
	font-size: 60px;
	/*display: inline;*/
	border: 2px;
	border-style: none;
	/*border-width: 8px;*/
	font-family: Colonna MT;
	display: inline;
	float: right;
	margin-top: 55px;
	margin-right: 340px;
}
p{
border:2px;
width: 400px;
height: 200px;
overflow: auto;
display: inline;
}
#staffimages{
	float: center;
}
#imagologo{display: inline;
	height: 150px;
	width: 150px;
}
#imago2{
	width: 550px;
	height: 350px;
	display: inline;
}
#upperalphalist{
	list-style-type: upper-alpha;
	display: inline;
	float: right;
	border: 2px;
	border-style: double;
}
#romanlist{
	list-style-type: lower-roman;
}
#homelinks{
	margin-bottom: 300px;
	margin-left: 250px;
	padding: 20px 50px;
	border-width: 1px; border-color: black;
	border-style: none;
	display: inline;
	float: center;
}
#pmessage{

}
#divcourses{
	position: absolute;
	display: inline;
	top: 780px;
	left: 750px;
}
#divfivecourses{
	position: absolute;
	display: inline;
	top: 820px;
	left: 750px;
	font-size: 20px;
	font-style: italic;
	color: #FF0000;
}
#divcampuses{
	position: absolute;
	display: inline;
	top: 1050px;
	left: 50px;
	font-size: 20px;
	font-style: italic;
}
#divcontacts{
	position: absolute;
	display: inline;
	top: 1050px;
	left: 350px;
	font-size: 20px;
	font-style: italic;
}
#divsocialmedia{
	position: absolute;
	display: inline;
	top: 1050px;
	left: 750px;
	font-size: 20px;
	font-style: italic;
}
#developerinfo{
	border: 2px;
	border-style: double;
	position: absolute;
	display: inline;
	float: left;
	top: 1300px;
	left: 10px;
	background-color: #A4A4A4;
}